body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  color: black;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-not-quite-white {
  background-color: #E0E1DD;
}

/* Blue Colour Theme */
.bg-rich-black {
  background-color: #0d1b2a;
}

.bg-oxford-blue {
  background-color: #1b263b;
}

.bg-ym-blue {
  background-color: #415A77;
}

.bg-silver-lake-blue {
  background-color: #778DA9;
}

.bg-platinum {
  background-color: #E0E1DD;
}

input[type="text"] {
  background-color: transparent;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}
